body {
    margin: 0;
    background-color: rgb(255, 251, 241);
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}



.block_1 {
    width: 100%;
    height: 450px;
    position: relative;
}

.block_1__content1 {
    position: absolute;
    width: 150px;
    right: 0;
    top: 0;
}

.block_1__content2 {
    display: block;
    position: absolute;
    width: 240px;
    left: 0;
    bottom: 0;
}

.block_1__text1 {
    position: absolute;
    top: 20px;
    left: 5%;
    font-size: 50px;
    font-family: "Caveat", sans-serif;
    line-height: 40px;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgb(214, 115, 58);
}

.block_1__text2 {
    position: absolute;
    font-family: "Caveat", sans-serif;
    text-align: center;
    top: 210px;
    left: 5%;
    font-size: 40px;
    color: white;
}

.block_1__photo1 {
    position: absolute;
    width: 240px;
    right: 1%;
    top: 120px;
}

.block_1__text3 {
    position: absolute;
    bottom: 40px;
    right: 10px;
    font-family: "Caveat", sans-serif;
    color: rgb(214, 115, 58);
    font-size: 55px;
}

.block_2 {
    width: 100%;
    height: 250px;
    position: relative;
}

.block_2__title {
    position: absolute;
    font-family: "Playpen Sans", sans-serif;
    color: rgb(162, 88, 45);
    text-align: center;
    right: 30px;
    font-size: 30px;
    top: -10px;
    line-height: 35px;

}

.block_2__content1 {
    position: absolute;
    width: 100%;
    top: 90px;
}

.block_2__text {
    position: absolute;
    text-align: center;
    width: 85%;
    top: 120px;
    font-family: "Playpen Sans", sans-serif;
    color: white;
    font-size: 13px;
    left: 50%; 
    transform: translate(-50%);
}

.organization {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.when_block {
    margin-top: 10px;
    display: block;
    width: 100%;
    position: relative;
}

.organization_quest {
    font-family: "Playpen Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: rgb(254, 198, 163);
}

.organization_pict {
    margin-top: 20px;
    position: relative;
    left: 50%; 
    transform: translate(-50%);
    width: 90%;
}

.where {
    color: rgb(115, 123, 76);
    letter-spacing: 3px;
}

.place_adress {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    width: 80%;
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 22px;
    color: rgb(115, 123, 76);
}

.adress_link {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.button {
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.adress_button {
    border: none;
    border-radius: 7px;
    text-transform: uppercase;
    background-color: rgb(115, 123, 76);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
}
.how {
    margin-top: 25px;
    color: rgb(214, 115, 58);
}