body {
    margin: 0;
    background-color: rgb(255, 251, 241);
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}



.block_1 {
    width: 100%;
    height: 450px;
    position: relative;
}

.block_1__content1 {
    position: absolute;
    width: 150px;
    right: 0;
    top: 0;
}

.block_1__content2 {
    display: block;
    position: absolute;
    width: 240px;
    left: 0;
    bottom: 0;
}

.block_1__text1 {
    position: absolute;
    top: 20px;
    left: 5%;
    font-size: 50px;
    font-family: "Caveat", sans-serif;
    line-height: 40px;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgb(214, 115, 58);
}

.block_1__text2 {
    position: absolute;
    font-family: "Caveat", sans-serif;
    text-align: center;
    top: 210px;
    left: 5%;
    font-size: 40px;
    color: white;
}

.block_1__photo1 {
    position: absolute;
    width: 240px;
    right: 1%;
    top: 120px;
}

.block_1__text3 {
    position: absolute;
    bottom: 40px;
    right: 10px;
    font-family: "Caveat", sans-serif;
    color: rgb(214, 115, 58);
    font-size: 55px;
}

.block_2 {
    width: 100%;
    height: 250px;
    position: relative;
}

.block_2__title {
    position: absolute;
    font-family: "Playpen Sans", sans-serif;
    color: rgb(162, 88, 45);
    text-align: center;
    right: 30px;
    font-size: 30px;
    top: -10px;
    line-height: 35px;

}

.block_2__content1 {
    position: absolute;
    width: 100%;
    top: 90px;
}

.block_2__text {
    position: absolute;
    text-align: center;
    width: 85%;
    top: 120px;
    font-family: "Playpen Sans", sans-serif;
    color: white;
    font-size: 13.5px;
    left: 50%; 
    transform: translate(-50%);
}

.organization {
    width: 100%;
    position: relative;
}

.when_block {
    margin-top: 10px;
    display: block;
    width: 100%;
    position: relative;
}

.organization_quest {
    font-family: "Playpen Sans", sans-serif;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: rgb(254, 198, 163);
    background-color: rgba(255, 251, 241, 0.7);
    position: sticky;
    display: flex;
    top: 0;
    z-index: 2;
    box-shadow: 5px 5px 5px rgba(255, 251, 241, 0.7);

}

.organization_pict {
    margin-top: 20px;
    position: relative;
    left: 50%; 
    transform: translate(-50%);
    width: 90%;
}

.where {
    color: rgb(115, 123, 76);
    letter-spacing: 3px;
}

.place_adress {
    position: relative;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    width: 80%;
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 22px;
    color: rgb(115, 123, 76);
}

.adress_link {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.button {
    position: relative;
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    left: 50%; 
    transform: translate(-50%);
}

.adress_button {
    border: none;
    border-radius: 7px;
    text-transform: uppercase;
    background-color: rgb(115, 123, 76);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
}

.how_block {
    margin-top: 35px;
    width: 100%;
    margin-bottom: 20px;
}


.how {
    color: rgb(214, 115, 58);
}


.whats_o_clock {
    margin-top: 20px;
    position: relative;
    display: block;
    width: 100%;
    height: 280px;
}

.whats_o_clock__bg_img {
    position: absolute;
    width: 100%;
}

.whats_o_clock__text {
    top: 40px;
    position: absolute;
    left: 18%;

}

.timing {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: "Playpen Sans", sans-serif;
    font-size: 17px;
    color: rgb(214, 115, 58);
    line-height: 37px;
    letter-spacing: 2px;
}

.sticker {
    position: absolute;
    width: 100px;
}

.st2 {
    width: 80px;
    right: 0;
    top: -30px;
}

.st3 {
    right: 40px;
    top: 180px;
}

.st1 {
    left: -30px;
    top: -50px;
}

.st4 {
    left: 0;
    bottom: -50px;
}

.color_block {
    display: block;
    position: relative;
    width: 100%;
    height: 450px;
}

.dresscode {
    color: rgb(124, 87, 61);
}

.dress_code__text {
    margin-top: 15px;
    width: 90%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(124, 87, 61);
    font-size: 17.5px;
}

.color_rounds {
    width: 70%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    top: 170px;
}

.peoples {
    position: absolute;
    width: 95%;
    top: 250px;
    left: 50%;
    transform: translate(-50%);

}

.details_block {
    position: relative;
    width: 100%;
}

.details {
    color: rgb(115, 123, 76);
}

.details_container {
    margin-top: 10px;
    width: 90%;
    background-color: rgb(115, 123, 76);
    border-radius: 17px;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
}

.detail__text {
    color: white;
    font-family: "Playpen Sans", sans-serif;
    font-size: 17px;
    line-height: 22px;
}

.underline {
    text-decoration: underline;
}

.detail__text:nth-child(n+2) {
    margin-top: 20px;
}

.flowers {
    font-size: 13px;
}

.guest_form {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    position: relative;
    width: 100%;
}

.guest {
    color: rgb(240, 138, 79);
    display: flex;
    position: relative;
}

.ellips {
    position: relative;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.guest_text {
    position: absolute;
    text-align: center;
    top: 90px;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
    color: white;
    font-family: "Playpen Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
}

.guest_form_button {
    background-color: rgb(240, 138, 79);
}

.contacts_block {
    width: 100%;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    
}

.contacts {
    color: rgb(124, 87, 61);
    display: flex;
    position: relative;
}

.contacts_text {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 15px;
    font-family: "Playpen Sans", sans-serif;
    color: rgb(124, 87, 61);
}

.alesya {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 50px;
}

.telegram {
    position: relative;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.welcome_block {
    margin-top: 20px;
    position: relative;
    width: 100%;
    margin-bottom: 35px;
}

.welcome {
    display: flex;
    text-align: center;
    color: rgb(115, 123, 76);
}

.welcome_photo {
    position: relative;
    margin-top: 10px;
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}